<h1>Example of h1</h1>
<h2 class="title-h1">Example of h2 with class .title-h1</h2>
<h2>Example of h2</h2>
<h3 class="title-h2">Example of h3 with class .title-h2</h3>
<h3>Example of h3</h3>
<h4 class="title-h3">Example of h4 with class .title-h3</h4>
<h4>Example of h4</h4>
<h5 class="title-h4">Example of h5 with class .title-h4</h5>
<h5>Example of h5</h5>
<h6 class="title-h5">Example of h6 with class .title-h5</h6>
<h6>Example of h6</h6>
<h1 class="title-h6">Example of h1 with class .title-h6</h1>