<p>Paragraph with <strong>strong text</strong>.</p>
<p>Paragraph with <a href="#">a link</a>.</p>
<p>Paragraph where <em>some text is emphasized</em>.</p>
<p>Paragraph with <u>underlined text</u>.</p>