<header class="container page-header">
    <div class="page-header__logo">
        {{> atoms-hdo-logo-with-text }}
    </div>
    <div class="page-header__title">
        <h1 class="title-h2">Lorem ipsum dot</h1>
    </div>
    <div class="page-header__menu">
        {{> molecules-main-menu }}
    </div>
</header>