<header class="container page-header">
  <div class="page-header__logo">
    {{> atoms-hdo-logo }}
  </div>
  <div class="page-header__title">
    <h1>Holder de ord</h1>
  </div>
  <div class="page-header__menu">
    {{> molecules-main-menu }}
  </div>
</header>