$hdo-background-color: #fafafa;
$hdo-background-against-white: rgba(51, 68, 104, 0.35);
$hdo-highlight-color: #fadd00;

$hdo-steel-blue-light: #b8bfcc;
$hdo-steel-blue-normal: #858fa3;
$hdo-steel-blue-dark: #606b82;
$hdo-steel-blue-extra-dark: #455068;

$hdo-outline-color: $hdo-steel-blue-extra-dark;

$gray-dark: #333 !default;
$gray: #55595c !default;
$gray-light: #818a91 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;

$brand-primary: $hdo-steel-blue-normal !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;