@import "../variables/color";
@import "../variables/spacing";

ul.color-palette {
  display: grid;
  font-size: 0.5rem;
  grid-gap: $spacer $spacer;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  > * {
    height: $spacer * 2;
    padding: $spacer / 2;
  }
  @media screen and (min-width: $breakpoint-sm-max) {
    grid-template-columns: repeat(2, 0.5fr);
  }
  @media screen and (min-width: $breakpoint-lg-max) {
    grid-template-columns: repeat(4, 0.25fr);
  }
}